# Control de versiones
.git
.gitignore

# Archivos de compilación
target/
node_modules/

# Archivos generados y temporales
*.map
*.log
.cache/
*.bak

# Directorios de desarrollo y prueba
__tests__/
__mocks__/
.vscode/
.idea/
jest.config.js


# Otros
*.DS_Store
*.iml
*.swp

#Docs folder
docs/

# Excepciones para incluir archivos importantes
!frontend/dist/assets/node_modules/
!frontend/.env
